<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

        <link rel="icon" type="image/jpg" href="{{asset('img/logo.jpg')}}">

        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>

        {{include('header.html.twig')}}

        {% block body %}
                {% if user is defined %}
            <main>
                <nav id="backnav">
                    <p><a href="#">Accueil</a></p>
                    <p><a href="#">Gestion des Utilisateurs</a></p>
                    <p><a href="#">Gestion des Clients</a></p>
                    <p><a href="#">Gestions des Articles</a></p>
                    <p><a href="#">Gestions des Habilitations</a></p>
                    <p><a href="#">Liens</a></p>
                    <p><a href="#">Déconnexion</a></p>
                </nav>
                {% else %}
            <main id="main">
                <nav id="topnav">
                    <a href="{{path('app_home')}}"><img class="logo" src="{{asset('img/logo.jpg')}}" alt="logo de la société AC-MB représentant un éléphant bleu"></a>
                    <ul id="topmenu"><p id="menu"><i class="fa fa-bars" aria-hidden="true"></i> MENU <i class="fa fa-bars" aria-hidden="true"></i></p>
                        <li><a href="{{path('app_home')}}">Accueil</a></li>
                        <li><a href="#">Actualités</a></li>
                        <li><a href="{{path('app_contact')}}">Contact</a></li>
                        <li><a href="#">Liens</a></li>
                    </ul>
                </nav>
                 {% endif %}
                



                {% block main %}
                {% endblock %}


            </main>


        {% endblock %}

        {{include('footer.html.twig')}}


    </body>
</html>
